body {
  font: 10px sans-serif;
}

.chart.axis path,
.chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.chart .x.axis path {
  display: none;
}

.chart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.chart .overlay {
  fill: none;
  pointer-events: all;
}

.chart .focus circle {
  fill: none;
  stroke: steelblue;
}
